.pet_form{
    border: 2px solid black;
    width: 80%;
    padding: 40px;
    margin: auto;
}
.addpet__container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.pet_form > div> input {
border: 1px solid black;
padding: 10px;

}
.pet_form > div> label {
    width: 40%;
    font-size: large;
    font-weight: bold;
}
.pet_form > div > input{
    width: 60%;
}
.pet_form > div> textarea{
    border: 1px solid black;
    padding: 20px;
}
.pet_form > div{
    display: flex;
    row-gap: 40px;
    margin-top: 20px;
}
